In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
airquality = pd.read_csv("edited_us_air_quality_one_week_2022_06_23 (1).csv", nrows=10000)

In [3]:
airquality.head()

,location,city,country,pollutant,value,unit,source_name,latitude,longitude,averaged_over_in_hours,location_geom,date,time
0,MILWAUKEE COLLEGE AV,Milwaukee-Waukesha-West Allis,US,bc,0.33,µg/m³,AirNow,1,42.93257,-87.93434,POINT(42.93257 1),2022-05-26,05:00:00
1,MILWAUKEE COLLEGE AV,Milwaukee-Waukesha-West Allis,US,bc,1.68,µg/m³,AirNow,1,42.93257,-87.93434,POINT(42.93257 1),2022-05-19,07:00:00
2,MILWAUKEE COLLEGE AV,Milwaukee-Waukesha-West Allis,US,bc,0.63,µg/m³,AirNow,1,42.93257,-87.93434,POINT(42.93257 1),2022-05-25,20:00:00
3,MILWAUKEE COLLEGE AV,Milwaukee-Waukesha-West Allis,US,bc,1.86,µg/m³,AirNow,1,42.93257,-87.93434,POINT(42.93257 1),2022-05-20,04:00:00
4,MILWAUKEE COLLEGE AV,Milwaukee-Waukesha-West Allis,US,bc,0.33,µg/m³,AirNow,1,42.93257,-87.93434,POINT(42.93257 1),2022-05-25,10:00:00

In [4]:
# Basic info
airquality.info()

# Summary statistics (numeric + categorical)
airquality.describe(include="all")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   location                10000 non-null  object
 1   city                    10000 non-null  object
 2   country                 10000 non-null  object
 3   pollutant               10000 non-null  object
 4   value                   10000 non-null  float64
 5   unit                    10000 non-null  object
 6   source_name             10000 non-null  object
 7   latitude                10000 non-null  int64
 8   longitude               10000 non-null  float64
 9   averaged_over_in_hours  10000 non-null  float64
 10  location_geom           10000 non-null  object
 11  date                    10000 non-null  object
 12  time                    10000 non-null  object
dtypes: float64(3), int64(1), object(9)
memory usage: 1015.8+ KB

,location,city,country,pollutant,value,unit,source_name,latitude,longitude,averaged_over_in_hours,location_geom,date,time
count,10000,10000,10000,10000,10000.000000,10000,10000,10000.0,10000.000000,10000.000000,10000,10000,10000
unique,170,98,1,2,NaN,2,1,NaN,NaN,NaN,174,8,24
top,Near Road,San Francisco-Oakland-Fremont,US,co,NaN,ppm,AirNow,NaN,NaN,NaN,POINT(38.921848 1),2022-05-20,22:00:00
freq,174,636,10000,8992,NaN,8992,10000,NaN,NaN,NaN,116,1440,1028
mean,NaN,NaN,NaN,NaN,0.249050,NaN,NaN,1.0,38.586658,-100.618841,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,0.250206,NaN,NaN,0.0,5.103384,19.736708,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,-0.010000,NaN,NaN,1.0,21.310301,-158.088593,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,0.120000,NaN,NaN,1.0,35.241100,-117.952586,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,0.200000,NaN,NaN,1.0,38.656449,-104.987198,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,0.300000,NaN,NaN,1.0,41.259478,-81.606834,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,5.100000,NaN,NaN,1.0,64.845800,-71.056056,NaN,NaN,NaN

In [5]:
airquality.isna().sum()

location                  0
city                      0
country                   0
pollutant                 0
value                     0
unit                      0
source_name               0
latitude                  0
longitude                 0
averaged_over_in_hours    0
location_geom             0
date                      0
time                      0
dtype: int64